{% extends "::base.html.twig" %}

{% set current_path = app.request.getBaseUrl ~ app.request.getPathInfo %}

{% block stylesheets %}
  {% include "::stylesheets.html.twig" %}
{% endblock %}

{% block body %}
  {% block main %}
  <body class="fourofour">
    <!-- Login Screen -->
    <div class="fourofour-container">
      <h1>
        404
      </h1>
      <h2>
        It looks like you're lost.
      </h2>
      <a class="btn btn-lg btn-default-outline" href="{{ path('homepage') }}"><i class="fa fa-home"></i>Go to the homepage</a>
    </div>
    <!-- End Login Screen -->
  </body>
  {% endblock %}

{% endblock body %}

{% block javascripts %}
  {% include "::javascripts.html.twig" %}
{% endblock javascripts %}
