{% extends "::base.html.twig" %}

{% set current_path = app.request.getBaseUrl ~ app.request.getPathInfo %}

{% block stylesheets %}
  {% include "::stylesheets.html.twig" %}
{% endblock %}

{% block body %}
  {% block main %}
  <body class="fourofour bg-danger">
    <!-- Login Screen -->
    <div class="fourofour-container">
      <h1>
        <i class="fa fa-unlink"></i>
      </h1>
      <h2>
        500 Error! Something broke!
      </h2>
      <a class="btn btn-lg btn-default-outline" href="{{ path('homepage') }}"><i class="fa fa-home"></i>Return to the homepage</a>
    </div>
    <!-- End Login Screen -->
  </body>
  {% endblock %}
{% endblock body %}

{% block javascripts %}
  {% include "::javascripts.html.twig" %}
{% endblock javascripts %}