{% extends 'CoreBundle:Default:backend.html.twig' %}

{% form_theme form "SevenBundle:Form:form_div_layout.html.twig" %}

{% block content %}
  <div class="container-fluid main-content">
    <div class="page-title">
      <h1>
        Crear Mails
      </h1>
    </div>
    <div class="row">
      <div class="col-lg-12">
        {% include ':includes:flashes.html.twig' %}
        <div class="widget-container fluid-height clearfix">
          <div class="heading">
            <i class="fa fa-bars"></i>Mails
          </div>
          <div class="widget-content padded">
            <div class="row">
            {{ form_start(form, { "attr": {"class": "form-horizontal"} }) }}
            {{ form_widget(form) }}
            </div>
            <div class="row">
            {% include 'CoreBundle:Default:form_actions.html.twig' with { 'path_list' : path('mails_index') } %}
            </div>
            {{ form_end(form) }}  
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
