{% extends 'CoreBundle:Default:backend.html.twig' %}


{% block content %}
<div class="container-fluid main-content">
    <div class="page-title">
      <h1>
        Descripción de Mails
      </h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% include ':includes:flashes.html.twig' %}
            <div class="widget-container fluid-height">
                <div class="heading">
                    <i class="fa fa-bars"></i>Mails
                </div>
                <div class="widget-content">
                {% include ":includes:flashes.html.twig" %}
                    <div class="row py-3 px-3">
                        <fieldset>
                            <table class="table table-striped table-bordered" width="100%">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ entity.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nombre</th>
                                        <td>{{ entity.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <th>Apellido</th>
                                        <td>{{ entity.apellido }}</td>
                                    </tr>
                                    <tr>
                                        <th>Dni</th>
                                        <td>{{ entity.dni }}</td>
                                    </tr>
                                    <tr>
                                        <th>Mail</th>
                                        <td>{{ entity.mail }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                    {{ include('CoreBundle:Default:form_actions.html.twig', { 'path_list' : path('mails_index'), 'hide_submit' : true }) }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}
