{% extends 'CoreBundle:Default:backend.html.twig' %}

{% form_theme edit_form "SevenBundle:Form:form_div_layout.html.twig" %}

{% block content %}
  <div class="container-fluid main-content">
    <div class="page-title">
      <h1>
        Editar Campañas
      </h1>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
          <div class="heading">
            <i class="fa fa-bars"></i>Campañas
          </div>
          <div class="widget-content padded">
            {% include ':includes:flashes.html.twig' %}
            <div class="row">
              <pre class="m-2"><u><b>RECORDAR:</b></u> Para sustituir el nombre de cada destinatario, dentro del ASUNTO, utilizar la variable "{&nombre&}"</pre>
              {{ form_start(edit_form, { "attr": {"class": "form-horizontal"} }) }}
              {{ form_widget(edit_form) }}
            </div>
            <div class="row">
              {% include 'CoreBundle:Default:form_actions.html.twig' with { 'path_list' : path('campanas_index') } %}
            </div>
            {{ form_end(edit_form) }}  
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
