{% extends 'CoreBundle:Default:backend.html.twig' %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="page-title">
          <h1>
            Listado Campañas
          </h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="widget-container fluid-height">
                  <div class="widget-content">
                    <div class="row pt-3 px-3">
                        {% include ":includes:flashes.html.twig" %}
                        <table class="table table-bordered table-striped" id="dataTable1" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Título</th>
                                    <th>Remitente</th>
                                    <th>Progreso</th>
                                    <th>Activa</th>
                                    <th class="all">{{ 'table.header.actions' | trans({},'CoreBundle') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>                                    
                                    <td><a href="{{ path('campanas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td>{{ entity.titulo }}</td>                                    
                                    <td>{{ entity.sender }}</td>                                    
                                    <td>
                                        {% if campanaActiva and entity.id == campanaActiva.id %}
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{campanaProgres}}" aria-valuemin="0" aria-valuemax="100" style="width: {{campanaProgres}}%"></div>
                                        </div>
                                        {% else %}
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width: 0%"></div>
                                        </div>
                                        {% endif %}
                                    </td>                                    
                                    <td class="text-center">
                                        {% if campanaActiva and entity.id == campanaActiva.id %}
                                            <i class="fa fa-cog fa-spin fa-fw margin-bottom"></i>
                                        {% else %}
                                            <i class="fa fa-minus-circle margin-bottom"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('campanas_show', { 'id' : entity.id} ) }}" class="btn btn-xs actions" data-toggle="tooltip" title="Ver"><i class="fa fa-eye"></i></a>

                                        <a href="{{ path('campanas_edit', { 'id' : entity.id} ) }}" class="btn btn-xs actions" data-toggle="tooltip" title="Editar"><i class="fa fa-pencil"></i></a>
                                        
                                        {% if campanaActiva and not entity.id == campanaActiva.id %}
                                            <a href="#a" data-id="{{ entity.id }}" class="btn btn-xs actions play" data-toggle="tooltip" title="Iniciar"><i class="fa fa-play"></i></a>
                                        {% elseif not campanaActiva %}
                                            <a href="#a" data-id="{{ entity.id }}" class="btn btn-xs actions play" data-toggle="tooltip" title="Iniciar"><i class="fa fa-play"></i></a>
                                        {% endif %}

                                        {% if campanaActiva and entity.id == campanaActiva.id %}
                                            <a href="#a" data-id="{{ entity.id }}" class="btn btn-xs actions stop" data-toggle="tooltip" title="Detener"><i class="fa fa-stop"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row px-3">
                        <a class="btn btn-primary" href="{{ path('campanas_new') }}">Crear Campaña</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
<!-- /page content -->
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script>
    //Cuando clickean PLAY para iniciar campaña.
    $('body').on('click', '.play', function() { 

        campana = $(this).attr('data-id');

        $.ajax({
          url: "{{ path('campanas_init') }}",
          type: 'POST',
          //dataType: 'json',
          data: {
              campana: campana
          },
          success: function (data) {  
            alert('Campaña Iniciada.');
            window.location.reload();
          },
          error: function(data) { 
            alert('Error, hay campañas corriendo.');
          }   
          // More AJAX customization goes here.

        });
    });
  </script>
{% endblock %}