{% extends 'CoreBundle:Default:backend.html.twig' %}


{% block content %}
<div class="container-fluid main-content">
    <div class="page-title">
      <h1>
        Descripción de Campañas
      </h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-container fluid-height">
                <div class="heading">
                    <i class="fa fa-bars"></i>Campañas
                </div>
                <div class="widget-content">
                    <div class="row py-3 px-3">
                        {% include ':includes:flashes.html.twig' %}
                        <fieldset>
                            <table class="table table-striped table-bordered" width="100%">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ entity.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Título</th>
                                        <td>{{ entity.titulo }}</td>
                                    </tr>
                                    <tr>
                                        <th>Asunto</th>
                                        <td>{{ entity.subject }}</td>
                                    </tr>
                                    <tr>
                                        <th>Remitente</th>
                                        <td>{{ entity.sender }}</td>
                                    </tr>
                                    <tr>
                                        <th>Html (MAIL)</th>
                                        <td>{{ entity.html }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                    {{ include('CoreBundle:Default:form_actions.html.twig', { 'path_list' : path('campanas_index'), 'hide_submit' : true }) }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}
