<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <title>{% block title %}{{ app_title }}{% endblock %}</title>
        <meta charset="ISO-8859-1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="page-header-fixed bg-1">
        <div class="modal-shiftfix">
            {{ include('CoreBundle:Default:header.html.twig') }}
            {% block body %}{% endblock %}
            {% block endBody %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
        <div class="style-selector">
          <div class="style-selector-container">
            <h2>
              Layout Style
            </h2>
            <select name="layout"><option value="fluid">Fluid</option><option value="boxed">Boxed</option></select>
            <h2>Navigation Style</h2>
            <select name="nav"><option value="top">Top</option><option value="left">Left</option></select>
            <h2>Color Options</h2>
            <ul class="color-options clearfix">
              <li><a class="blue" href="javascript:chooseStyle('none', 30)"></a></li>
              <li><a class="green" href="javascript:chooseStyle('green-theme', 30)"></a></li>
              <li><a class="orange" href="javascript:chooseStyle('orange-theme', 30)"></a></li>
              <li><a class="magenta" href="javascript:chooseStyle('magenta-theme', 30)"></a></li>
              <li><a class="gray" href="javascript:chooseStyle('gray-theme', 30)"></a></li>
            </ul>
            <h2>Background Patterns</h2>
            <ul class="pattern-options clearfix">
              <li><a class="active" href="#" id="bg-1"></a></li>
              <li><a href="#" id="bg-2"></a></li>
              <li><a href="#" id="bg-3"></a></li>
              <li><a href="#" id="bg-4"></a></li>
              <li><a href="#" id="bg-5"></a></li>
            </ul>
            <div class="style-toggle closed">
              <span aria-hidden="true" class="se7en-gear"></span>
            </div>
          </div>
        </div>
    </body>
</html>