<script src="{{ asset('bundles/core/smart/js/plugin/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bundles/core/smart/js/plugin/datatables/dataTables.colVis.min.js') }}"></script>
<script src="{{ asset('bundles/core/smart/js/plugin/datatables/dataTables.tableTools.min.js') }}"></script>
<script src="{{ asset('bundles/core/smart/js/plugin/datatables/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/panif/js/gente/dataTables.responsive.js') }}"></script>
<script src="{{ asset('bundles/panif/js/gente/responsive.bootstrap.js') }}"></script>