<!-- Basic Styles -->
<script src="{{ asset('bundles/seven/js/jquery.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery-ui.js') }}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<!-- Se7en DASHBOARD -->
<script src="{{ asset('bundles/seven/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/raphael.min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/selectivizr-min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery.mousewheel.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery.vmap.min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery.vmap.sampledata.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery.vmap.world.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery.bootstrap.wizard.js') }}"></script>
<script src="{{ asset('bundles/seven/js/fullcalendar.min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/gcal.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/datatable-editable.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery.easy-pie-chart.js') }}"></script>
<script src="{{ asset('bundles/seven/js/excanvas.min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery.isotope.min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/isotope_extras.js') }}"></script>
<script src="{{ asset('bundles/seven/js/modernizr.custom.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery.fancybox.pack.js') }}"></script>
<script src="{{ asset('bundles/seven/js/select2.js') }}"></script>
<script src="{{ asset('bundles/seven/js/styleswitcher.js') }}"></script>
{#
<script src="{{ asset('bundles/seven/js/wysiwyg.js') }}"></script>
<script src="{{ asset('bundles/seven/js/wysihtml5.min.js') }}"></script>
#}
<script src="{{ asset('bundles/seven/js/typeahead.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery.inputmask.min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery.validate.js') }}"></script>
<script src="{{ asset('bundles/seven/js/bootstrap-fileupload.js') }}"></script>
<script src="{{ asset('bundles/seven/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/seven/js/bootstrap-timepicker.js') }}"></script>
<script src="{{ asset('bundles/seven/js/bootstrap-colorpicker.js') }}"></script>
<script src="{{ asset('bundles/seven/js/bootstrap-switch.min.js') }}"></script>
{#<script src="{{ asset('bundles/seven/js/bootstrap-wysihtml5.js') }}"></script>#}
<script src="{{ asset('bundles/seven/js/spin.min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/ladda.min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/moment.js') }}"></script>
<script src="{{ asset('bundles/seven/js/mockjax.js') }}"></script>
<script src="{{ asset('bundles/seven/js/bootstrap-editable.min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/xeditable-demo-mock.js') }}"></script>
<script src="{{ asset('bundles/seven/js/xeditable-demo.js') }}"></script>
<script src="{{ asset('bundles/seven/js/address.js') }}"></script>
<script src="{{ asset('bundles/seven/js/daterange-picker.js') }}"></script>
<script src="{{ asset('bundles/seven/js/date.js') }}"></script>
<script src="{{ asset('bundles/seven/js/morris.min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/skycons.js') }}"></script>
<script src="{{ asset('bundles/seven/js/fitvids.js') }}"></script>
{#<script src="{{ asset('bundles/seven/js/jquery.sparkline.min.js') }}"></script>#}
<script src="{{ asset('bundles/seven/js/dropzone.js') }}"></script>
<script src="{{ asset('bundles/seven/js/prettify.js') }}"></script>
{#
<script src="{{ asset('bundles/seven/js/jquery.ui.slider.js') }}"></script>
<script src="{{ asset('bundles/seven/js/docs.js') }}"></script>
<script src="{{ asset('bundles/seven/js/application.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery_ujs.js') }}"></script>
#}
<script src="{{ asset('bundles/seven/js/main.js') }}"></script>
<script src="{{ asset('bundles/seven/js/respond.js') }}"></script>

<script src="{{ asset('bundles/seven/js/summernote.js') }}"></script>
<script src="{{ asset('bundles/seven/js/summernote-es-ES.js') }}"></script>



<script>
    jQuery(document).ready(function ($) {

          $('[data-toggle=summernote]').summernote({
            //placeholder: '',
            lang: 'es-ES', // default: 'en-US'
            // tabsize: 2,
            height: 300,
            // width: '97%',
            // toolbar: [
            //   ['style', ['style']],
            //   ['font', ['bold', 'underline', 'clear']],
            //   ['color', ['color']],
            //   ['para', ['ul', 'ol', 'paragraph']],
            //   ['table', []],
            //   ['insert', []],
            //   ['view', []]
            // ]
        });

	});
</script>          