<!-- Basic Styles -->
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/bootstrap.min.css') }}">

<link rel="icon" href="{{ asset('bundles/seven/images/favicon.ico') }}" type="image/x-icon">

<!-- Se7en -->
<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700" media="all" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/font-awesome.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/isotope.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/jquery.fancybox.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/fullcalendar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/wizard.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/select2.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/morris.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/datatables.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/datepicker.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/timepicker.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/colorpicker.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/bootstrap-switch.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/bootstrap-editable.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/daterange-picker.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/typeahead.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/ladda-themeless.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/social-buttons.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/jquery.fileupload-ui.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/dropzone.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/pygments.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/style.css') }}">
<link media="all" rel="alternate stylesheet" title="green-theme" type="text/css" href="{{ asset('bundles/seven/css/color/green.css') }}">
<link media="all" rel="alternate stylesheet" title="orange-theme" type="text/css" href="{{ asset('bundles/seven/css/color/orange.css') }}">
<link media="all" rel="alternate stylesheet" title="magenta-theme" type="text/css" href="{{ asset('bundles/seven/css/color/magenta.css') }}">
<link media="all" rel="alternate stylesheet" title="gray-theme" type="text/css" href="{{ asset('bundles/seven/css/color/gray.css') }}">

<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/se7en-font.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/addons.css') }}">

<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/summernote.css') }}">