{% extends 'CoreBundle:Default:backend.html.twig' %}

{% form_theme form "BajoCeroBundle:Form:bootstrap_bv-form_layout.html.twig" %}

{% block content %}
{% include ':includes:flashes.html.twig' %}
    <div class="right_col" role="main" style="min-height: 1070px;">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                  <div class="x_title">
                    <h2>Cambiar Contraseña</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                            <fieldset>
                                {{ form_widget(form, { "attr": {"class": "form-horizontal form-label-left input_mask"} }) }}
                            </fieldset>
                            <br>
                            <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Guardar</button>
                    {{ form_end(form) }}  
                  </div>
            </div>
        </div>
    </div>
{% endblock %}