{% extends 'CoreBundle:Default:backend.html.twig' %}

{% form_theme edit_form "SevenBundle:Form:form_div_layout.html.twig" %}

{% block content %}
  <div class="container-fluid main-content">
    <div class="page-title">
      <h1>
        Editar Configuración
      </h1>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
          <div class="heading">
            <i class="fa fa-bars"></i>Configuracion
          </div>
          <div class="widget-content padded">
            {% include ':includes:flashes.html.twig' %}
            <div class="row">
              {{ form_start(edit_form, { "attr": {"class": "form-horizontal"} }) }}
              {{ form_widget(edit_form) }}
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <hr width="50%">
              </div>
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <button class="btn btn-success" type="submit"><i class="fa fa-save"></i>Guardar</button>
              </div>
            </div>
            {{ form_end(edit_form) }}  
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
