{% extends 'CoreBundle:Default:backend.html.twig' %}


{% block content %}
<div class="container-fluid main-content">
    <div class="page-title">
      <h1>
        Descripción de Configuracion
      </h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% include ':includes:flashes.html.twig' %}
            <div class="widget-container fluid-height">
                <div class="heading">
                    <i class="fa fa-bars"></i>Configuracion
                </div>
                <div class="widget-content">
                {% include ":includes:flashes.html.twig" %}
                    <div class="row py-3 px-3">
                        <fieldset>
                            <table class="table table-striped table-bordered" width="100%">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ entity.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Betweentime</th>
                                        <td>{{ entity.betweenTime }}</td>
                                    </tr>
                                    <tr>
                                        <th>Randomtime</th>
                                        <td>{% if entity.randomTime %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                    {{ include('CoreBundle:Default:form_actions.html.twig', { 'path_list' : path('configuracion_index'), 'hide_submit' : true }) }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}
