{% extends "CoreBundle:Default:backend.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme edit_form "CoreBundle:Form:smart_form.html.twig" %}

{% block pageHeader %}{{ 'user.user.page_header'|trans }}{% endblock %}

{% block iconPageHeader %}user{% endblock %}

{% block widgetName %}{{ 'user.user.edit.widget_name'|trans }} {% endblock %}

{% block widgetIcon %}edit{% endblock %}

{% block widgetBody %}

    {{ form_start(edit_form) }}
        <fieldset>
            {{ form_widget(edit_form) }}
        </fieldset>
        {% include "CoreBundle:Default:form_actions.html.twig" with { 'path_list' : path('files') } %}
    {{ form_end(edit_form) }}

{% endblock %}
