{% extends "CoreBundle:Default:backend.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pageHeader %}{{ 'user.user.page_header'|trans }}{% endblock %}

{% block iconPageHeader %}user{% endblock %}

{% block widgetName %}{{ 'user.user.index.widget_name'|trans }} {% endblock %}

{% block widgetIcon %}table{% endblock %}

{% block widgetBody %}
    <table id="dataTable" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th data-class="expand">{{ 'user.user.label.username' | trans }}</th>
                <th data-hide="phone">{{ 'user.user.label.email' | trans }}</th>
                <th>{{ 'table.header.actions' | trans({}, 'CoreBundle') }}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "::dataTables.html.twig" %}
    <script>
        $(document).ready(function() {
            new DataTableWidget({
                containerId: "#dataTable",
                url: "{{ path('user_list') }}",
                dataTableOptions: {
                    bServerSide: true
                }
            });
        });
    </script>
{% endblock %}