
    /**
{% block phpdoc_method_header %}
     * Displays a form to edit an existing {{ entity_singularized }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/{id}/edit", name="{{ route_name_prefix }}_edit")
     * @Method({"GET", "POST"})
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function editAction(Request $request, {{ entity_class }} $entity)
{% endblock method_definition %}
    {
{% block method_body %}
        $deleteForm = $this->createDeleteForm($entity);
        {% if use_form_type_instance -%}
            $editForm = $this->createForm(new {{ entity_singularized|capitalize }}Type(), $entity);
        {% else -%}
            $editForm = $this->createForm('{{ namespace }}\Form\{{ entity }}Type', $entity);
        {% endif -%}
        $editForm->handleRequest($request);
        $flashbagService = $this->get('flashbag_service');
        $translator = $this->get('translator');

        if ($editForm->isSubmitted() && $editForm->isValid()) {
            $this->getDoctrine()->getManager()->flush();

            $flashbagService->setFlash('success', $translator->trans('core.controller.messages.update_success', [], 'CoreBundle'));
            return $this->redirectToRoute('{{ route_name_prefix }}_edit', array('id' => $entity->getId()));
        }
{% endblock method_body %}

{% block method_return %}
        return $this->render('{{ entity|lower|replace({'\\': '/'}) }}/edit.html.twig', array(
            '{{ entity_singularized }}' => $entity,
            'edit_form' => $editForm->createView(),
            'delete_form' => $deleteForm->createView(),
        ));
{% endblock method_return %}
    }
