
    /**
{% block phpdoc_method_header %}
     * Creates a new {{ entity_singularized }} entity.
{% endblock phpdoc_method_header %}
     *
{% block phpdoc_method_annotations %}
{% if 'annotation' == format %}
     * @Route("/new", name="{{ route_name_prefix }}_new")
     * @Method({"GET", "POST"})
{% endif %}
{% endblock phpdoc_method_annotations %}
     */
{% block method_definition %}
    public function newAction(Request $request)
{% endblock method_definition %}
    {
{% block method_body %}
        $entity = new {{ entity|capitalize }}();
        {% if use_form_type_instance -%}
            $form = $this->createForm(new {{ entity_singularized|capitalize }}Type(), $entity);
        {% else -%}
            $form = $this->createForm('{{ namespace }}\Form\{{ entity }}Type', $entity);
        {% endif -%}
        $form->handleRequest($request);
        $flashbagService = $this->get('flashbag_service');
        $translator = $this->get('translator');

        if ($form->isSubmitted() && $form->isValid()) {
            $em = $this->getDoctrine()->getManager();
            $em->persist($entity);
            $em->flush($entity);

            $flashbagService->setFlash('success', $translator->trans('core.controller.messages.creation_success', [], 'CoreBundle'));
            {% if 'show' in actions -%}
                return $this->redirectToRoute('{{ route_name_prefix }}_show', array('id' => $entity->getId()));
            {%- else -%}
                return $this->redirectToRoute('{{ route_name_prefix }}_index'));
            {%- endif %}

        }
{% endblock method_body %}

{% block method_return %}
        return $this->render('{{ entity|lower|replace({'\\': '/'}) }}/new.html.twig', array(
            '{{ entity_singularized }}' => $entity,
            'form' => $form->createView(),
        ));
{% endblock method_return %}
    }
