{% extends 'CoreBundle:Default:backend.html.twig' %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="page-title">
          <h1>
            Listado de Usuarios
          </h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="widget-container fluid-height">
                  <div class="widget-content">
                    <div class="row pt-3 px-3">
                        {% include ":includes:flashes.html.twig" %}
                        <table class="table table-bordered table-striped" id="dataTable1" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Usuario</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Mail</th>
                                    <th>Última Conexión</th>
                                    <th class="all">{{ 'table.header.actions' | trans({},'CoreBundle') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td>{{ entity.username }}</td>
                                    <td>{{ entity.firstname }}</td>
                                    <td>{{ entity.lastname }}</td>
                                    <td>{{ entity.email }}</td>
                                    <td>{{ entity.lastLogin|date('d/m/Y') }}</td>
                                    <td>
                                        {% include 'CoreBundle:Default:table_actions.html.twig' with 
                                            {
                                                 'edit_path':path('user_edit', { 'id' : entity.id} ), 
                                                 'show_path':path('user_show', { 'id' : entity.id} ) 
                                            }
                                        %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row px-3">
                        <a class="btn btn-primary" href="{{ path('user_new') }}">Crear Usuario</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
<!-- /page content -->
{% endblock %}
