{% extends 'CoreBundle:Default:backend.html.twig' %}

{% block content %}
<div class="container-fluid main-content">
    <div class="page-title">
      <h1>
        Descripción de Usuario
      </h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-container fluid-height">
                <div class="heading">
                    <i class="fa fa-bars"></i>Usuarios
                </div>
                <div class="widget-content">
                    <div class="row py-3 px-3">
                        {% include ':includes:flashes.html.twig' %}
                        <fieldset>
                            <table class="table table-striped table-bordered" width="100%">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ entity.id }}</td>
                                    </tr>                  
                                    <tr>
                                        <th>Nombre de Usuario</th>
                                        <td>{{ entity.username }}</td>
                                    </tr>                                            
                                    <tr>
                                        <th>Nombre</th>
                                        <td>{{ entity.firstname }}</td>
                                    </tr>                                            
                                    <tr>
                                        <th>Apellido</th>
                                        <td>{{ entity.lastname }}</td>
                                    </tr>                                            
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ entity.email }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                    {{ include('CoreBundle:Default:form_actions.html.twig', { 'path_list' : path('campanas_index'), 'hide_submit' : true }) }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}
