{% block stylesheets %}
<!-- Basic Styles -->
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/font-awesome.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/se7en-font.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/seven/css/addons.css') }}">

<script src="{{ asset('bundles/seven/js/jquery.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery-ui.js') }}"></script>
<script src="{{ asset('bundles/seven/js/jquery_ujs.js') }}"></script>
<script src="{{ asset('bundles/seven/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/seven/js/modernizr.custom.js') }}"></script>
<script src="{{ asset('bundles/seven/js/main.js') }}"></script>

<link rel="icon" href="{{ asset('bundles/seven/images/favicon.ico') }}" type="image/x-icon">
{% endblock %}

  <body class="login2">
    {% block fos_user_content %}
    <!-- Login Screen -->
    <div class="login-wrapper pt-20">
       <img class="p-0 mt-0 mb-0" height="118" src="{{ asset('bundles/seven/images/metamail_logo.png') }}" />
       {% block fos_user_container %}
       {% endblock %}
    </div>
    <!-- End Login Screen -->
  </body>
{% endblock %}
















