{% trans_default_domain 'FOSUserBundle' %}

<div class="pt-3 mt-3">
	<form action="{{ path("fos_user_security_check") }}" method="post" role="login">
	    {% if csrf_token %}
	        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	    {% endif %}

		<div class="form-group">
		  <div class="input-group">
		    <span class="input-group-addon"><i class="fa fa-envelope"></i></span><input type="text" id="username" name="_username" class="form-control" placeholder="Usuario" required="required">
		  </div>
		</div>
		<div class="form-group">
		  <div class="input-group">
		    <span class="input-group-addon"><i class="fa fa-lock"></i></span><input type="password" id="password" name="_password" class="form-control" placeholder="Contraseña" required="required">
		  </div>
		</div>
	    <button type="submit" class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">{{ 'security.login.submit'|trans }}</button>
	
		{% include ":includes:flashes.html.twig" %}
	</form>
</div>