{% extends "CoreBundle:Default:backend.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    <!-- row -->

    <div class="row">

        <div class="col-sm-12">

                <div class="well well-sm">

                    <div class="row">

                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="well well-light well-sm no-margin no-padding">

                                <div class="row">

                                    <div class="col-sm-12">
                                        <div class="carousel fade profile-carousel">
                                            <div class="air air-top-left padding-10">
                                                <h4 class="txt-color-white font-md">{{ "now" | date('F jS \\a\\t g:ia') }}</h4>
                                            </div>
                                            <div class="carousel-inner">
                                                <!-- Slide 1 -->
                                                <div class="item active">
                                                    <img src="{{ asset('bundles/core/smart/img/demo/s1.jpg') }}" alt="demo user">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">

                                        <div class="row">

                                            {# Image profile #}
                                            <div class="col-sm-3 profile-pic">
                                                <img src="{{ asset('bundles/core/images/male.png') }}" />
                                            </div>
                                            <div class="col-sm-6">
                                                {% block profileContent %}
                                                {% endblock %}
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

        </div>

    </div>

    <!-- end row -->

{% endblock %}