{% extends 'CoreBundle:Default:backend.html.twig' %}

{% block content %}
<!-- page content -->
<div class="right_col" role="main" style="min-height: 1070px;">
    <div class="page-title">
        <div class="title_left">
            <h3>Datos Perfil <b class="text-uppercase ">{{ app.user }}</b></h3>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        {% include ":includes:flashes.html.twig" %}
                        <!-- <div class="card"> -->
                        	<div class="logologin p-1">
								<img src="{{ asset('bundles/bajocero/img/user.png') }}" alt="" style="height:300px;">
							</div>
                            <div class="card-block">
                                <fieldset>
                                    <table class="table table-striped table-bordered" width="100%">
                                        <tbody>
                                            <tr>
                                                <th>Id</th>
                                                <td>{{ user.id }}</td>
                                            </tr>
                                            <tr>
                                                <th>Nombre</th>
                                                <td>{{ user.firstname }}</td>
                                            </tr>
                                            <tr>
                                                <th>Apellido</th>
                                                <td>{{ user.lastname }}</td>
                                            </tr>
											<tr>
                                                <th>Email</th>
                                                <td>{{ user.email }}</td>
                                            </tr>
                                           	<tr>
                                                <th>Roles Asignados</th>
                                                <td>
                                                	{% for roles in user.roles %}
													   {{ roles }}
													   <br>
													{% endfor %}
                                                </td>
                                            </tr>
											<tr>
                                                <th>Última Conexión</th>
                                                <td>{{ user.lastLogin|date('d/m/Y') }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </fieldset>
                            </div>
                        <!-- </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}
