{% extends 'CoreBundle:Default:backend.html.twig' %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="page-title">
          <h1>
            Listado Test
          </h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="widget-container fluid-height">
                  <div class="widget-content">
                    <div class="row pt-3 px-3">
                        {% include ":includes:flashes.html.twig" %}
                        <table class="table table-bordered table-striped" id="dataTable1" width="100%">
                            <thead>
                                <tr>                                <th>Id</th>                                <th>Nombre</th>                                <th>Apellido</th>                                <th>Direccion</th>                                <th>Campo1</th>                                <th>Campo2</th>                                <th>Fecha1</th>                                <th>Campo3</th>                                <th class="all">{{ 'table.header.actions' | trans({},'CoreBundle') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('test_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td>{{ entity.nombre }}</td>
                                    <td>{{ entity.apellido }}</td>
                                    <td>{{ entity.direccion }}</td>
                                    <td>{{ entity.campo1 }}</td>
                                    <td>{{ entity.campo2 }}</td>
                                    <td>{% if entity.fecha1 %}{{ entity.fecha1|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{{ entity.campo3 }}</td>
                                <td>
                                    {% include 'CoreBundle:Default:table_actions.html.twig' with 
                                        {
                                             'edit_path':path('test_edit', { 'id' : entity.id} ), 
                                             'show_path':path('test_show', { 'id' : entity.id} ) 
                                        }
                                    %}
                                </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row px-3">
                        <a class="btn btn-primary" href="{{ path('test_new') }}">Crear Test</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
<!-- /page content -->
{% endblock %}
