{% extends 'CoreBundle:Default:backend.html.twig' %}


{% block content %}
<div class="container-fluid main-content">
    <div class="page-title">
      <h1>
        Descripción de Test
      </h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% include ':includes:flashes.html.twig' %}
            <div class="widget-container fluid-height">
                <div class="heading">
                    <i class="fa fa-edit"></i>Test
                </div>
                <div class="widget-content">
                    {% include ":includes:flashes.html.twig" %}
                        <div class="row py-3 px-3">
                            <table class="table table-striped table-bordered" width="100%">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ entity.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nombre</th>
                                        <td>{{ entity.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <th>Apellido</th>
                                        <td>{{ entity.apellido }}</td>
                                    </tr>
                                    <tr>
                                        <th>Direccion</th>
                                        <td>{{ entity.direccion }}</td>
                                    </tr>
                                    <tr>
                                        <th>Campo1</th>
                                        <td>{{ entity.campo1 }}</td>
                                    </tr>
                                    <tr>
                                        <th>Campo2</th>
                                        <td>{{ entity.campo2 }}</td>
                                    </tr>
                                    <tr>
                                        <th>Fecha1</th>
                                        <td>{% if entity.fecha1 %}{{ entity.fecha1|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th>Campo3</th>
                                        <td>{{ entity.campo3 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {{ include('CoreBundle:Default:form_actions.html.twig', { 'path_list' : path('test_index'), 'hide_submit' : true }) }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}
