{% extends "::base.html.twig" %}

{% set current_path = app.request.getBaseUrl ~ app.request.getPathInfo %}

{% block stylesheets %}
	{% include "::stylesheets.html.twig" %}
{% endblock %}

{% block body %}
	<!-- MAIN PANEL -->
	{% block main %}
   		{% block content %}
		{% endblock %}
	{% endblock %}
{% endblock body %}

{% block javascripts %}
	{% include "::javascripts.html.twig" %}
{% endblock javascripts %}