<div class="pull-right">
    {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" data-toggle="confirmation" value="Eliminar"
        data-btn-ok-label="Si" data-btn-ok-icon="glyphicon glyphicon-share-alt"
        data-btn-ok-class="btn-success"
        data-btn-cancel-label="No" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
        data-btn-cancel-class="btn-danger"
        data-title="¿Está seguro que desea eliminar?">
    {{ form_end(delete_form) }}
</div>