<!-- PAGE FOOTER -->
<div class="page-footer" {% if fullWidth is defined %}style="padding-left: 10px"{% endif %}>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">
                <div><img width="126" height="24" border="0" title="Ministerio de Cultura de la Nacion" alt="Ministerio de Cultura de la Nacion" src="{{ asset('bundles/core/images/logo-presidencia-de-la-nacion.png') }}"></div>
            </span>
        </div>

        <div class="col-xs-6 col-sm-6 text-right hidden-xs">
            <div class="txt-color-white inline-block">
                <i class="txt-color-blueLight hidden-mobile">© 2016 <a href="http://www.cultura.gob.ar" target="_blank">Ministerio de Cultura de la Nación</a> | &Aacute;rea Sistemas</i>
                <div class="btn-group dropup">
                    <button class="btn btn-xs dropdown-toggle bg-color-blue txt-color-white" data-toggle="dropdown"><i class="fa fa-link"></i><span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right text-left">
                        <li>
                            <div class="padding-5">
                                <p class="txt-color-darken font-sm no-margin">Av. Alvear 1690</p>
                                <p class="txt-color-darken font-sm no-margin">Ciudad de Buenos Aires</p>
                                <p class="txt-color-darken font-sm no-margin">Argentina</p>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="padding-5"><p class="txt-color-darken font-sm no-margin">[+54] +11 4129-2400</p></div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="padding-5"><p class="txt-color-darken font-sm no-margin"><a href="mailto:info@cultura.gov.ar">info@cultura.gov.ar</a></p></div>
                        </li>
                        <li class="divider"></li>
                        <li><div class="padding-5"><button class="btn btn-block btn-secondary">cerrar</button></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>