{% trans_default_domain 'CoreBundle' %}

<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
<hr width="50%">
</div>
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    {% if path_edit is defined %}
        <a href="{{ path_edit }}" class="btn btn-primary">
            {{ 'button.edit'|trans }}
        </a>
    {% endif %}
    {% if hide_submit is not defined %}
        <button class="btn btn-success" type="submit">
            <i class="fa fa-{% if submit.icon is not defined %}save{% else %}{{ submit.icon }}{% endif %}"></i>
            {% if submit.label is not defined %}{{ 'button.submit'|trans }}{% else %}{{ submit.label }}{% endif %}
        </button>
    {% endif %}
    {% if other_actions is defined %}
        {% for action in other_actions %}
            <a {% if action.id is defined %}id="{{ action.id }}"{% endif %}class="{{ action.class|default('btn btn-primary') }}" href="{{ action.href|default('#') }}">
                {% if action.icon is defined %}<i class="fa fa-{{ action.icon }}"></i>{% endif %}
                {{ action.text }}
            </a>
        {% endfor %}
    {% endif %}
    {% if path_list is defined %}
        <a href="{{ path_list }}" class="btn btn-primary">
            {{ 'button.back_list'|trans }}
        </a>
    {% endif %}
</div>