<!-- Navigation -->
      <div class="navbar navbar-fixed-top scroll-hide">
        <div class="container-fluid top-bar">
          <div class="pull-left">
            <img height="42rem" style="padding-top: 0.20rem" src="{{ asset('bundles/seven/images/metamail_logo.png') }}">
          </div>
          <div class="pull-right">
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown user hidden-xs"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img width="34" height="34" src="{{ asset('bundles/seven/images/avatar-male.png') }}" />{{ app.user }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ path('fos_user_profile_show') }}">
                    <i class="fa fa-user"></i> Mi Cuenta</a>
                  </li>
                  <li><a href="{{ path('fos_user_change_password') }}">
                    <i class="fa fa-gear"></i> Cambiar Contraseña</a>
                  </li>
                  <li><a href="{{ path('fos_user_security_logout') }}">
                    <i class="fa fa-sign-out"></i> Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="container-fluid main-nav clearfix">
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <a href="{{ path('homepage') }}"><span aria-hidden="true" class="se7en-home"></span>Dashboard</a>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#a">
                <span aria-hidden="true" class="se7en-feed"></span>Campañas<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{ path('campanas_new') }}">
                      <p>Nueva Campaña</p>
                    </a>
                  </li>
                  <li>
                    <a href="{{ path('campanas_index') }}">
                      <p>
                        Lista de Campañas
                      </p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#a">
                <span aria-hidden="true" class="se7en-star"></span>Datos Maestros<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{ path('configuracion_edit', {'id' : 1 }) }}">
                      <p>Configuración</p>
                    </a>
                  </li>
                  <li>
                    <a href="{{ path('mails_index') }}">
                      <p>
                        Lista de Distribución
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="{{ path('user_index') }}">Usuarios</a>
                  </li>
                </ul>
              </li>
              {# <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-forms"></span>Forms<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="form-components.html">Form Components</a>
                  </li>
                  <li>
                    <a href="form-advanced.html">Advanced Forms</a>
                  </li>
                  <li><a href="xeditable.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      X-Editable
                    </p></a>
                    
                  </li>
                  <li><a href="file-upload.html">
                    <div class="notifications label label-warning">
                      New
                    </div>
                    <p>
                      Multiple File Upload
                    </p></a>
                    
                  </li>
                  <li><a href="dropzone-file-upload.html">
                    <div class="notifications label label-warning">
                      New
                    </div>
                    <p>
                      Dropzone File Upload
                    </p></a>
                    
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-tables"></span>Tables<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="tables.html">Basic tables</a>
                  </li>
                  <li>
                    <a href="datatables.html">DataTables</a>
                  </li>
                  <li><a href="datatables-editable.html">
                    <div class="notifications label label-warning">
                      New
                    </div>
                    <p>
                      Editable DataTables
                    </p></a>
                    
                  </li>
                </ul>
              </li>
              <li><a href="charts.html">
                <span aria-hidden="true" class="se7en-charts"></span>Charts</a>
              </li>
              <li class="dropdown"><a data-toggle="dropdown" href="#">
                <span aria-hidden="true" class="se7en-pages"></span>Pages<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="chat.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      Chat
                    </p></a>
                    
                  </li>
                  <li>
                    <a href="calendar.html">Calendar</a>
                  </li>
                  <li><a href="timeline.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      Timeline
                    </p></a>
                    
                  </li>
                  <li><a href="login1.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      Login 1
                    </p></a>
                    
                  </li>
                  <li>
                    <a href="login2.html">Login 2</a>
                  </li>
                  <li><a href="signup1.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      Sign Up 1
                    </p></a>
                    
                  </li>
                  <li><a href="messages.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      Messages/Inbox
                    </p></a>
                    
                  </li>
                  <li><a href="pricing.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      Pricing Tables
                    </p></a>
                    
                  </li>
                  <li>
                    <a href="signup2.html">Sign Up 2</a>
                  </li>
                  <li><a href="invoice.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      Invoice
                    </p></a>
                    
                  </li>
                  <li><a href="faq.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      FAQ
                    </p></a>
                    
                  </li>
                  <li>
                    <a href="filters.html">Filter Results</a>
                  </li>
                  <li>
                    <a href="404-page.html">404 Page</a>
                  </li>
                  <li><a href="500-page.html">
                    <span class="notifications label label-warning">New</span>
                    <p>
                      500 Error
                    </p></a>
                    
                  </li>
                </ul>
              </li>
              <li><a href="gallery.html">
                <span aria-hidden="true" class="se7en-gallery"></span>Gallery</a>
              </li> #}
            </ul>
          </div>
        </div>
      </div>
      <!-- End Navigation -->