<nav>
	<!--
	NOTE: Notice the gaps after each icon usage <i></i>..
	Please note that these links work a bit different than
	traditional href="" links. See documentation for details.
	{{ current_path }}
	-->

	<ul>
		{% for m in menu %}
			{% set menu_path = m.arguments is defined ? path(m.path, m.arguments) : m.path is defined ? path(m.path) : "#" %}
			<li {% if menu_path == current_path %}class="active"{% endif %}>
				<a href="{{ (m.submenu is defined)? '#' : menu_path }}" title="{{ m.name }}"><i class="fa fa-lg fa-fw fa-{{ (m.icon is defined)? m.icon: 'square' }}"></i> <span class="menu-item-parent">{{ m.name }}</span></a>
				{% if m.submenu is defined %}
					<ul>
					{% for s in m.submenu %}
						{% set submenu_path = s.arguments is defined ? path(s.path, s.arguments) : path(s.path) %}
						<li {% if submenu_path == current_path %}class="active"{% endif %}>
							<a href="{{ submenu_path }}" title="{{ s.name }}">
								{% if s.icon is defined %}<i class="fa fa-lg fa-fw fa-{{ s.icon }}"></i>{% endif %}
								<span class="menu-item-parent">{{ s.name }}</span>
							</a>
						</li>
					{% endfor %}
					</ul>
				{% else %}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</nav>