<!-- Modal -->
<div class="modal pt-7 fade" id="{{ modal_id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    {{ modal_title }}
                </h4>
            </div>
            <div class="modal-body no-padding">
                {% if modal_form is defined %}
                    {{ modal_form | raw }}
                {% endif %}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->