{% if show_path is defined %}
    <a href="{{ show_path }}" class="btn btn-xs actions" data-toggle="tooltip" title="{{ 'core.actions.show' | trans({}, 'CoreBundle') }}">{% include ":includes:_showIcon.html.twig" %}</a>
{% endif %}
{% if edit_path is defined %}
    <a href="{{ edit_path }}" class="btn btn-xs actions" data-toggle="tooltip" title="{{ 'core.actions.edit' | trans({}, 'CoreBundle') }}">{% include ":includes:_editIcon.html.twig" %}</a>
{% endif %}
{% if other_actions is defined %}
    {% for action in other_actions %}
        <a {% if action.tooltip is defined %}
                {% if action.confirmation is not defined %}
                    data-toggle="tooltip" title="{{ action.tooltip.title }}"
                {% else %}
                    tooltip-title="{{ action.tooltip.title }}"
                {% endif %}
            {% endif %}
        class="btn btn-xs btn-default actions {% if action.class is defined %}{{ action.class }}{% endif %}
            {% if action.confirmation is defined and action.tooltip is defined %} data-confirmation-with-tooltip {% endif %}"
        href="{{ action.path }}"
        {% if action.confirmation is defined %}
            {% if action.tooltip is not defined %}
                data-toggle="confirmation" title="{{ action.confirmation.title }}"
            {% else %}
                confirmation-title="{{ action.confirmation.title }}"
            {% endif %}
            {% if action.confirmation.options is defined %}
                {% for data, option in action.confirmation.options %}
                    data-{{ data }}="{{ option }}"
                {% endfor %}
            {% endif %}
        {% endif %}
        >
        <i class="fa fa-{{ action.icon }}"></i>{{ action.name | default("") }}</a>
    {% endfor %}
{% endif %}