{% block extends %}
{{ "{% extends 'CoreBundle:Default:backend.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ '{% form_theme edit_form "SevenBundle:Form:form_div_layout.html.twig" %}' }}

{{ "{% block content %}" }}
  <div class="container-fluid main-content">
    <div class="page-title">
      <h1>
        Editar {{ entity }}
      </h1>
    </div>
    <div class="row">
      <div class="col-lg-12">
        {{ "{% include ':includes:flashes.html.twig' %}" }}
        <div class="widget-container fluid-height clearfix">
          <div class="heading">
            <i class="fa fa-bars"></i>{{ entity }}
          </div>
          <div class="widget-content padded">
            <div class="row">
              {{ '{{ form_start(edit_form, { "attr": {"class": "form-horizontal"} }) }}' }}
              {{ '{{ form_widget(edit_form) }}' }}
            </div>
            <div class="row">
              {{ "{% include 'CoreBundle:Default:form_actions.html.twig' with { 'path_list' : path('" ~ entity|lower ~ "_index') } %}"}}
            </div>
            {{ '{{ form_end(edit_form) }}' }}  
          </div>
        </div>
      </div>
    </div>
  </div>
{{ "{% endblock %}" }}
{% endblock body %}