{% block extends %}
{{ "{% extends 'CoreBundle:Default:backend.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block content %}" }}
    <div class="container-fluid main-content">
        <div class="page-title">
          <h1>
            Listado {{ entity }}
          </h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="widget-container fluid-height">
                  <div class="widget-content">
                    <div class="row pt-3 px-3">
                        {{ '{% include ":includes:flashes.html.twig" %}' }}
                        <table class="table table-bordered table-striped" id="dataTable1" width="100%">
                            <thead>
                                <tr>{%- for field, metadata in fields %}<th>{{ field|capitalize }}</th>{%- endfor %}<th class="all">{{ "{{ 'table.header.actions' | trans({},'CoreBundle') }}" }}</th></tr>
                            </thead>
                            <tbody>
                            {{ '{% for entity in entities %}' }}
                                <tr>
                                {%- for field, metadata in fields %}
                                {%- if loop.first and ('show' in actions) %}
                                    <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity."~ identifier ~" }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>
                                {%- elseif metadata.type in ['datetime'] %}
                                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>
                                {%- elseif metadata.type in ['date'] %}
                                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'d/m/Y\') }}{% endif %}' }}</td>
                                {%- elseif metadata.type in ['time'] %}
                                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>
                                {%- elseif metadata.type in ['array'] %}
                                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>
                                {%- elseif metadata.type in ['boolean'] %}
                                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>
                                {%- else %}
                                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>
                                {%- endif %}
                                {%- endfor %}
                                <td>
                                    {{ "{% include 'CoreBundle:Default:table_actions.html.twig' with "}}
                                        {{"{"}}
                                            {{" 'edit_path':path('" ~ route_name_prefix ~ "_edit', { 'id' : entity." ~ identifier ~ "} ), "}}
                                            {{" 'show_path':path('" ~ route_name_prefix ~ "_show', { 'id' : entity." ~ identifier ~ "} ) "}}
                                        {{"}"}}
                                    {{"%}"}}
                                </td>

                                </tr>
                            {{ '{% endfor %}' }}
                            </tbody>
                        </table>
                    </div>
                    <div class="row px-3">
                        <a class="btn btn-primary" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">Crear {{ entity }}</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
<!-- /page content -->
{{ "{% endblock %}" }}
{% endblock body %}