{% block extends %}
{{ "{% extends 'CoreBundle:Default:backend.html.twig' %}" }}
{% endblock extends %}


{% block body %}
{{ "{% block content %}" }}
<div class="container-fluid main-content">
    <div class="page-title">
      <h1>
        Descripción de {{ entity }}
      </h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{ "{% include ':includes:flashes.html.twig' %}" }}
            <div class="widget-container fluid-height">
                <div class="heading">
                    <i class="fa fa-bars"></i>{{ entity }}
                </div>
                <div class="widget-content">
                {{ '{% include ":includes:flashes.html.twig" %}' }}
                    <div class="row py-3 px-3">
                        <fieldset>
                            <table class="table table-striped table-bordered" width="100%">
                                <tbody>
                                {%- for field, metadata in fields %}

                                    <tr>
                                        <th>{{ field|capitalize }}</th>

                                    {%- if metadata.type in ['datetime'] %}

                                        <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                                    {%- elseif metadata.type in ['date'] %}

                                        <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

                                    {%- elseif metadata.type in ['time'] %}

                                        <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

                                    {%- elseif metadata.type in ['array'] %}

                                        <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

                                    {%- elseif metadata.type in ['boolean'] %}

                                        <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

                                    {%- else %}

                                        <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                                    {%- endif %}

                                    </tr>

                                {%- endfor %}

                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                    {{"{{ include('CoreBundle:Default:form_actions.html.twig', { 'path_list' : path('" ~ entity|lower ~ "_index'), 'hide_submit' : true }) }}"}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{{ "{% endblock %}" }}
{% endblock body %}
